In [20]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
df = pd.read_csv("diabetes.csv")
df.sample(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome,Age,Daigonosis
7,10,115,56,0,0,35.3,0.134,0,17,0
143,10,108,66,0,0,32.4,0.272,1,84,0
112,1,89,76,34,37,31.2,0.192,0,72,1
232,1,79,80,25,37,25.4,0.583,0,57,1
56,7,187,68,39,304,37.7,0.254,1,66,0

In [22]:
# final_data = df.drop(['ID'],axis=1)

In [23]:


# df['Daigonosis'] = df.factorize(df['Daigonosis'])[0]

# df

In [24]:
final_data =df

final_data.sample(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome,Age,Daigonosis
187,1,128,98,41,58,32.0,1.321,1,90,1
101,1,151,60,0,0,26.1,0.179,0,80,1
229,0,117,80,31,53,45.2,0.089,0,54,1
263,3,142,80,15,0,32.4,0.200,0,56,0
221,2,158,90,0,0,31.6,0.805,1,46,1

In [25]:
X = final_data.drop(['Daigonosis'],axis=1)
y = final_data['Daigonosis']

In [26]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=4)

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier

clf1 = RandomForestClassifier(n_estimators=10)
clf2 = AdaBoostClassifier(n_estimators=100,algorithm="SAMME",random_state=0)

In [28]:
clf1 = clf1.fit(X_train,y_train)
clf2 = clf2.fit(X_train,y_train)

In [29]:
clf1_pred= clf1.predict(X_test)
clf2_pred = clf2.predict(X_test)

In [31]:
from sklearn import metrics
print("RF accuracy ", metrics.accuracy_score(y_test,clf1_pred))
print("AD accuracy ", metrics.accuracy_score(y_test,clf2_pred))

RF accuracy  0.6
RF accuracy  0.7166666666666667